################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.json
*.vsidx
*.wsuo
/.vs/slnx.sqlite
