<ion-app>
  <!--Sidebar Menu-->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="light">
        <ion-title>Main Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list *ngFor="let route of GetRoutes()">
          <ion-menu-toggle>
            <ion-button color="tertiary" [routerLink]="['/'+route.path]">
              {{ route.title }}
            </ion-button>
          </ion-menu-toggle>
        </ion-list>
        <ion-accordion-group>
          <ion-accordion value="account-settings">
            <ion-item slot="header">
              <ion-label color="secondary">Account and Settings</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-menu-toggle>
                <ion-item color="tertiary" >Account</ion-item>
                <ion-item color="tertiary" [routerLink]="['/settings']">Settings</ion-item>
              </ion-menu-toggle>
            </div>
          </ion-accordion>
        </ion-accordion-group>
    </ion-content>
  </ion-menu>
  
  <!--Heading-->
  <ion-header>
    <ion-toolbar id="main-content" color="light">
      <ion-buttons>
        <ion-menu-button color="secondary"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Mobile App Testing
      </ion-title>
    </ion-toolbar>
    <!--<ion-toolbar *ngIf="ShowSequenceNavigation">
      <ion-button color="secondary" slot="start" (click)="BackButtonClick()">Back</ion-button>
      <ion-button color="secondary" slot="end" (click)="ForwardButtonClick()">Forward</ion-button>
    </ion-toolbar>-->
  </ion-header>

  <!--Body-->
  <ion-router-outlet style="margin-top: 35px; margin-bottom: 40px;">
  </ion-router-outlet>

  <!--Footer-->
  <ion-footer>
    <ion-toolbar color="light">
      <ion-title style="font-size:x-small">
        <ion-button color="tertiary">{{ GetUsername() }}</ion-button>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>
