:root {
  /** secondary **/
  --ion-color-secondary: #3881ff00;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #3881ff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36aae018;
  --ion-color-secondary-tint: #55c9ff17;
}

ion-button {
    font-size:1.2em;
}