<ion-content>
  <ion-card>
    <ion-header>
      <ion-card-title style="margin:10px;">
        Chess
      </ion-card-title>
    </ion-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Information
      </ion-card-title>
      <ion-card-subtitle>
        1974 - 2012
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Depicted here is the image of a city somewhere on Earth.
      <img src="assets/images/sampleImage.jpg" alt="sample image" style="margin-top: 10px;">
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Form
      </ion-card-title>
      <ion-card-subtitle>
        Enter Your Information
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input placeholder="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input placeholder="***********"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Phone Number</ion-label>
        <ion-input placeholder="(XXX) XXX-XXXX"></ion-input>
      </ion-item>
      <div class="ion-text-center">
        <ion-button color="secondary" style="margin-top: 15px;" (click)="presentActionSheet()">Submit</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Footer
    </ion-title>
  </ion-toolbar>
</ion-footer>

