<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-card-title>
            <ion-icon name="settings-sharp"></ion-icon>
            Settings
        </ion-card-title>
    </ion-card-header>
  </ion-card>
  <!--General Settings-->
  <ion-card>
    <ion-card-header>
        <ion-card-subtitle>
            General
        </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ion-grid>
            <ion-row>
                
            </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
  <!--Appearance Settings-->
  <ion-card>
    <ion-card-header>
        <ion-card-subtitle>
            Appearance
        </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-radio-group value="light">
                        <ion-item>
                            <ion-label>Light Mode</ion-label>
                            <ion-radio value="light" (click)="SetAppearanceMode('light')"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>Dark Mode</ion-label>
                            <ion-radio value="dark" (click)="SetAppearanceMode('dark')"></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Dark Mode</ion-label>
                        <ion-toggle color="success" slot="end" (click)="ToggleAppearanceMode()"></ion-toggle>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
